/* @author MurielSG */


:root {
    --color-white: #F9FAFB;
    --color-black: #111827;
    --color-blue: #3B82F6;
    --color-red: #EF4444;
    --color-light-grey: #9CA3AF;
    --color-dark-grey: #6B7280;

}

html {
    font-size: 16px;
    line-height: 24px;

}

/* testing */
* {
    font-weight: normal;
    font-family: "Roboto";
    box-sizing: border-box;
}

/* body */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);


}

/* Header */
header {
    width: 100%;
    background-color: color-mix(in srgb, var(--color-black), transparent 10%);
    position: sticky;
    top: 0px;
}



.header-container {
    width: 90vw;
    height: clamp(80px, 8vw, 100px);
    background-color: var(--color-black);
    border: 2px solid var(--color-light-grey);
    margin: 0 auto;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    /* Img */
    #header-logo {
        height: clamp(10px, 7vw, 80px);
    }

    button {
        background-color: var(--color-blue);
    }
}


/* Hero */
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;


    #hero-logo {
        width: clamp(300px, 40%, 500px);
        ;
    }

    h1 {
        font-size: clamp(10px, 7vw, 70px);
        line-height: clamp(5px, 5vw, 40px);
        font-weight: bold;
        margin-top: 15px;
    }

    h2 {
        font-size: clamp(5px, 4vw, 40px);
        line-height: clamp(5px, 5vw, 40px);
        font-weight: bold;
        margin-top: -20px;
    }
}

/* Main */
main {
    max-width: 90vw;
    margin-top: 50px;
    gap: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;

    /* Proyects */
    .proyect-card {
        width: clamp(250px, 50vw, 450px);
        height: clamp(250px, 44vw, 400px);
        border: 2px solid var(--color-light-grey);
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .proyect-header {
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;

            svg {
                margin-inline: clamp(10px, 1vw, 60px);
                width: clamp(40px, 5vw, 55px);

            }

        }

        .proyect-title {
            font-size: clamp(12px, 3vw, 25px);
            line-height: 28px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .proyect-img {
            border: 2px solid var(--color-light-grey);
            border-radius: 50px;
            width: clamp(220px, 45vw, 400px);
            height: clamp(140px, 27vw, 280px);
        }

        a {
            border-radius: 50px;
        }
    }
}
@media (max-width:1041px) {
    main {
        .proyect-card {
            width: clamp(250px, 50vw, 450px);
            height: clamp(250px, 44vw, 400px);

            .proyect-img {
                width: clamp(220px, 45vw, 400px);
                height: clamp(140px, 30vw, 280px);
            }
        }
    }
}
@media (max-width:800px) {
    main {
        .proyect-card {
            width: clamp(250px, 50vw, 450px);
            height: clamp(250px, 47vw, 400px);

            .proyect-img {
                width: clamp(220px, 45vw, 400px);
                height: clamp(140px, 27vw, 280px);
            }
        }
    }
}
@media (max-width:529px) {
    main {
        .proyect-card {
            width: clamp(250px, 50vw, 450px);
            height: clamp(250px, 44vw, 400px);

            .proyect-img {
                width: clamp(220px, 45vw, 400px);
                height: clamp(140px, 27vw, 280px);
            }
        }
    }
}

a:not(.disabled):hover svg path {
    fill: #3B82F6;
    width: 100%;
    height: 100%;

}

a:not(.disabled):hover {
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.2s ease, fill 0.2s ease;
}

a.disabled svg path {
    fill: var(--color-light-grey);
}

@media (max-width:1911px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:1193px) {
    main {
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
        margin-bottom: 50px;
    }
}

/* footer */
footer {
    width: 90vw;
    background-color: var(--color-black);
    border: 2px solid var(--color-light-grey);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;

    #footer-hero {
        display: flex;
        flex-direction: column;
        align-items: center;

        #footer-logo {
            height: clamp(20px, 8vw, 80px);
            margin-top: 10px;
        }

        h1 {
            font-size: clamp(25px, 4vw, 50px);
        }
    }

    #footer-info {
        font-size: clamp(12px, 2vw, 25px);

        #footer-email {
            margin-bottom: 30px;
        }

        address {
            p {
                margin-top: -25px;
            }
        }
    }

    #footer-icons {
        display: flex;
        flex-direction: row;
        gap: clamp(12px, 4vw, 80px);

        svg {
            width: clamp(50px, 4vw, 60px);
        }
    }
}

@media (max-width:842px) {
    footer {
        flex-direction: column;

        #footer-hero {
            margin-top: 0px;
            width: 90%;
        }

        #footer-info {
            margin-top: -20px;
        }

        #footer-icons {
            margin-top: 10px;
            flex-direction: row;
            gap: 40px;
        }
    }
}

/* Botones */
button {
    width: clamp(90px, 10vw, 150px);
    height: clamp(50px, 5vw, 70px);
    border-radius: 100px;
    margin-inline: 15px;
    border: 2px solid var(--color-blue);
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 32px;
    font-weight: bold;
}

button:hover {
    transform-origin: center;
    transition: transform 0.2s ease, fill 0.2s ease;
    border: 2px solid var(--color-light-grey);
}